<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
    data-mdb-toggle="dropdown" aria-expanded="false">
    Filter Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Checkme1" />
                    <label class="form-check-label" for="Checkme1">No smoking</label>
                </div>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Checkme2" checked />
                    <label class="form-check-label" for="Checkme2">No kids</label>
                </div>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Checkme3" />
                    <label class="form-check-label" for="Checkme3">No pets</label>
                </div>
            </a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
            <a class="dropdown-item" href="#">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Checkme4" checked />
                    <label class="form-check-label" for="Checkme4">Check me</label>
                </div>
            </a>
        </li>
    </ul>
</div>
