<div class="container">
    <h1>Familes</h1>
    <p>Start your next adventure with...</p>
</div>
<div class="container mt-4 text-center">
  <div class="cards mt-3">
    <% @homestays.each do |homestay|  %>
      <%= link_to homestay_path(homestay), class:"text-decoration-none" do %>
        <%= render 'homestay_card', homestay: homestay %>
      <% end %>
    <% end %>
</div>
