// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), asset-url("family.jpeg");
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.body {
  background-color: #A592CB;
}

.body h2 {
  font-size: 32px;
  color: white;
}

.body p {
  font-size: 20px;
  color: white;
}

#call_to_action {
  border-radius: 5%;
  width: 25%;
  left: 0;
  height: 50px;
  background-color: #A592CB;
  color: white;
}
