<div class="container mb-5 d-flex justify-content-center gap-3">
  <div class="card-category" style="width: 24rem">
    <div class="card">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="https://i.ibb.co/TYMqqsh/pexels-binyamin-mellish-1396122.jpg" class="d-block w-100" alt="house">
          </div>
          <div class="carousel-item active">
            <img src="https://i.ibb.co/ygDGJzp/pexels-scott-webb-1029599.jpg", class="d-block w-100" alt="furniture2">
          </div>
          <div class="carousel-item active">
            <img src="https://i.ibb.co/VVd7HnN/pexels-pixabay-259588.jpg", class="d-block w-100" alt="people">
          </div>
        </div>
      </div>
      <div class="card-img-overlay">
        <h2 class="card-title text-white">Homes</h2>
        <p class="card-text text-white">Doors wide open</p>
      </div>
    </div>
  </div>
  <div class="card-category" style="width: 24rem">
    <div class="card">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="https://i.ibb.co/Q66YPTp/pexels-tristan-le-1642883.jpg", class="d-block w-100" alt="house">
          </div>
          <div class="carousel-item active">
            <img src="https://i.ibb.co/cyLfTt8/pexels-helena-lopes-2055231.jpg", class="d-block w-100" alt="furniture2">
          </div>
          <div class="carousel-item active">
            <img src="https://i.ibb.co/zrK2TMX/pexels-japheth-mast-569170.jpg", class="d-block w-100" alt="people">
          </div>
        </div>
      </div>
      <div class="card-img-overlay">
        <h2 class="card-title text-white">Host Families</h2>
        <p class="card-text text-white">Always a warm welcome</p>
      </div>
    </div>
  </div>
  <div class="card-category" style="width: 24rem">
    <div class="card">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="https://i.ibb.co/2WVBqWB/pexels-pixabay-210265.jpg" class="d-block w-100" alt="house">
          </div>
          <div class="carousel-item active">
            <img src="https://i.ibb.co/1z3p41g/pexels-pixabay-259962.jpg", class="d-block w-100" alt="furniture2">
          </div>
          <div class="carousel-item active">
            <img src="https://i.ibb.co/5rp3DRN/pexels-pixabay-534151.jpg", class="d-block w-100" alt="people">
          </div>
        </div>
      </div>
      <div class="card-img-overlay">
        <h2 class="card-title text-white">Locations</h2>
        <p class="card-text text-white">Relaxing stays</p>
      </div>
    </div>
  </div>
</div>
