<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/41FUTURE"><i class="fa-brands fa-github-alt"></i></a>
    <a href="https://github.com/dkwilson1991"><i class="fa-brands fa-github"></i></a>
    <a href="https://github.com/Sabi95"><i class="fa-brands fa-github-alt"></i></a>
    <a href="https://github.com/Junalem"><i class="fa-brands fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Homestopia 2022
    <i class="fa-regular fa-copyright"></i>
  </div>
</div>
