<div class="footer">
  <a href="https://github.com/41FUTURE"><i class="fab fa-github"></i></a>
  <a href="https://github.com/dkwilson1991"><i class="fa-brands fa-github-alt"></i></a>
  <a href="https://github.com/Junalem"><i class="fab fa-github"></i></a>
  <a href="https://github.com/Sabi95"><i class="fa-brands fa-github-alt"></i></a>
  <div class="footer-copyright">
    copyright 2022<i class="fa-regular fa-copyright"></i>
  </div>
</div>
