<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1664721811/macovccaszdtnctrjxbt.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1> <%= @booking.user.first_name %> <%= @booking.user.last_name %>  </h1>
      <p> <%= @homestay.accomodation %> </p>
      <p> <%= @homestay.comments %> </p>
    </div>
  </div>
</div>
