<body>
  <div class="d-flex flex-column justify-content-between margin-left-3" style="min-height: 100vh;">
    <div>
      <div class="mytrips">
        <h3>Upcoming Trips🎉</h3>
      </div>
      <div class="card-booking">
        <% @bookings.each do |booking| %>
          <div class="card-product">
            <img src= <%= booking.homestay.img_url %>/>
            <div class="d-flex w-100 justify-content-between">
              <div class="card-product-infos">
                <h2><%= booking.user.first_name %> <%= booking.user.last_name %></h2>
              </div>
              <div>
                <p class="btn btn-ghost disabled mx-3"> <%=booking.status %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between" style="min-height: 5vh;">
      <div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
