<div class="banner">
  <div class="container">
    <h1>homestopia</h1>
    <p>Be with family all around the world</p>
    <a class="btn btn-flat" id="call_to_action" href="#">Join Now</a>
  </div>
</div>
<div class="body py-4">
  <div class="container">
    <h2 class="align-text-center">Travel Around the world</h2>
    <p class="align-text-center">Live with families around the world, feel welcomed.</p>
  </div>
</div>
<div>
  <%= render "devise/shared/carousel" %>
</div>
