<div class="banner">
  <div class="container">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <h1>Homestopia</h1>
    <div class="typing-effect">
      <p>Be with family all around the world</p>
    </div>
    <%= link_to "Discover", homestays_path, class: "bubbly-button" %>
  </button>
</div>
</div>
<div class="body py-4" id="home-body">
  <div class="container">
    <h2 class="align-text-center">Travel Around the world</h2>
    <p class="align-text-center">Live with families around the world, feel welcomed.</p>
  </div>
</div>
<div class="d-flex justify-content-between" id="carousel">
  <%= render "devise/shared/carousel" %>
</div>
