<div class="banner">
  <div class="container">
    <h1>homestopia</h1>
    <p>Be with family all around the world</p>
    <button class="btn btn-flat" type="button" id="call_to_action" href="#">Join Now</button>
  </div>
</div>
<div class="body py-4">
  <div class="container">
    <h2 class="align-text-center">Travel Around the world</h2>
    <p class="align-text-center">Live with families around the world, feel welcomed.</p>
  </div>
</div>
<div class="container d-flex justify-content-between" class="carousel">
  <%= render "devise/shared/carousel" %>
</div>
