<div class="banner">
  <div class="container">
    <h1>homestopia</h1>
    <p>Be with family all around the world</p>
    <%= link_to "Homestay", "http://127.0.0.1:3000/homestays", class: "btn btn-primary call_to_action text-decoration-none" %>
  </button>
</div>
</div>
<div class="body py-4" id="home-body">
  <div class="container">
    <h2 class="align-text-center">Travel Around the world</h2>
    <p class="align-text-center">Live with families around the world, feel welcomed.</p>
  </div>
</div>
<div class="d-flex justify-content-between" id="carousel">
  <%= render "devise/shared/carousel" %>
</div>
