.btn-ghost {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: radial-gradient;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost:active {
  opacity: 0.6;
}
$fuschia: #5e2843;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

.home-page-centre {
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  background-color: $baby-blue;
}
