.main-container {
  display: flex;
  justify-content: space-between;
  margin: auto 150px;

  &.container-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media  (max-width: 820px) {
  .main-container {
    margin: auto 50px;
  }
}
