#map {
  border-radius: 16px;;
  background-color: grey;
  width: 100%;
  height: 800px;
  position: sticky;
  top: 10vh;
  background-image: url('https://www.apple.com/v/maps/d/images/overview/background_light_alt__bdgrj5s9pwqq_xlarge.jpg');
  background-size: cover;
}
