.navbar-lewagon {
  justify-content: space-between;
  background-color: #a592cb;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  border-radius: 5px;
  background-color: #a592cb;
}

.searchbar {
  position: relative;

  button {
    position: absolute;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    height: 100%;
    // border-left: 1px solid #ffffff75;
  }
}
