.navbar-lewagon {
  justify-content: space-between;
  background-color: #a592cb;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  border-radius: 46px;
  background-color: #a592cb;
}

.search-bar {
  display: flex;
  gap: 0;
}
